body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
  overscroll-behavior: none;
  position: fixed;
  width: 100%;
  height: 100%;
}

#root {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}
